@model IEnumerable<AdventurerCreator.Models.Adventurer.BadGuyListItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BadGuyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBoss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BadGuyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetName)
            </td>
            <td>
                @Html.ActionLink("Edit", "../BadGuy/Edit", new { id=item.BadGuyId }) |
                @Html.ActionLink("Details", "../BadGuy/Details", new { id = item.BadGuyId }) |
                @Html.ActionLink("Delete", "../BadGuy/Delete", new { id = item.BadGuyId })
            </td>
        </tr>
    }

</table>
<a href="../Planet/Index" class="btn btn-primary btn-lg">Back</a>
