@model AdventurerCreator.Models.Adventurer.PlanetDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanetDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryColor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
