@model IEnumerable<AdventurerCreator.Models.Adventurer.PlanetListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryColor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="prim">
                <!--Trying to Set Color with a Switch-->
                @switch (item.PrimaryColor)
                {
                    case "red":
                        <style>
                            .prim {
                                color: red;
                            }
                        </style>
                        break;
                    case "blue":
                        <style>
                            .prim {
                                color: blue;
                            }
                        </style>
                        break;
                    case "green":
                        <style>
                            .prim {
                                color: green;
                            }
                        </style>
                        break;
                    case "yellow":
                        <style>
                            .prim {
                                color: yellow;
                            }
                        </style>
                        break;
                    case "black":
                        <style>
                            .prim {
                                color: black;
                            }
                        </style>
                        break;
                    case "brown":
                        <style>
                            .prim {
                                color: brown;
                            }
                        </style>
                        break;
                    case "grey":
                        <style>
                            .prim {
                                color: grey;
                            }
                        </style>
                        break;
                    case "orange":
                        <style>
                            .prim {
                                color: orange;
                            }
                        </style>
                        break;
                    case "purple":
                        <style>
                            .prim {
                                color: purple;
                            }
                        </style>
                        break;
                    case "violet":
                        <style>
                            .prim {
                                color: violet;
                            }
                        </style>
                        break;
                    default:
                        <style>
                            .prim {
                                color: white;
                            }
                        </style>
                        break;
                }
                @Html.DisplayFor(modelItem => item.PrimaryColor)
            </td>
            <td class="sec">
                <!--Setting Background Color with a Switch-->
                @switch (item.PrimaryColor)
                {
                    case "red":
                        <style>
                            .sec {
                                color: red;
                            }
                        </style>
                        break;
                    case "blue":
                        <style>
                            .sec {
                                color: blue;
                            }
                        </style>
                        break;
                    case "green":
                        <style>
                            .sec {
                                color: green;
                            }
                        </style>
                        break;
                    case "yellow":
                        <style>
                            .sec {
                                color: yellow;
                            }
                        </style>
                        break;
                    case "black":
                        <style>
                            .sec {
                                color: black;
                            }
                        </style>
                        break;
                    case "brown":
                        <style>
                            .sec {
                                color: brown;
                            }
                        </style>
                        break;
                    case "grey":
                        <style>
                            .sec {
                                color: grey;
                            }
                        </style>
                        break;
                    case "orange":
                        <style>
                            .sec {
                                color: orange;
                            }
                        </style>
                        break;
                    case "purple":
                        <style>
                            .sec {
                                color: purple;
                            }
                        </style>
                        break;
                    case "violet":
                        <style>
                            .sec {
                                color: violet;
                            }
                        </style>
                        break;
                    default:
                        <style>
                            .sec {
                                color: white;
                            }
                        </style>
                        break;
                }
                @Html.DisplayFor(modelItem => item.SecondaryColor)
            </td>
            <td>
                @Html.ActionLink("BadGuys", "BadGuyList", new { id = item.PlanetId })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlanetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlanetId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlanetId })
            </td>
        </tr>
    }

</table>
<a href="../Home/Settings" class="btn btn-primary btn-lg">Back</a>
